Repository LinkIt-Company/Linkit-Backend, pull requests merged in 2024-06, with the labels that each got.

#6 서비스 DB MongoDB로 교체, Prisma 의존성 제거, Mongoose로 ODM 교체
  .env
  docker-compose.yaml
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  src/app.module.ts
  src/app.swagger.ts
  src/prisma/prisma.module.ts
  src/prisma/prisma.service.ts
  src/schema/index.ts
  src/schema/user.schema.ts
Labels: enhancement

#9 Github PR 템플릿 수정 및 PR Labeler 적용
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/label.yml
Labels: fix, etc, actions

#13 GH Action labeler 수정
  .github/labeler.yml
Labels: fix, etc, actions

#11 람다 배포
  .swcrc
  nest-cli.json
  package.json
  pnpm-lock.yaml
  serverless.yml
  src/app.controller.spec.ts
  src/app.service.ts
  src/bootstrap.ts
  src/handler.ts
  src/main.ts
  tsconfig.json
  webpack.config.ts
Labels: etc

#12 Feature: User생성 API추가, JwtGuard 생성, @GetUser Param Decorator 추가
  .env
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/app.swagger.ts
  src/common/decorators/getUser.decorator.ts
  src/common/decorators/index.ts
  src/common/index.ts
  src/common/types/type.d.ts
  src/modules/users/docs/controller.docs.ts
  src/modules/users/docs/createUser.docs.ts
  src/modules/users/docs/index.ts
  src/modules/users/dto/createUser.dto.ts
  src/modules/users/dto/index.ts
  src/modules/users/guards/index.ts
  src/modules/users/guards/jwt.guard.ts
  src/modules/users/guards/strategy/index.ts
  src/modules/users/guards/strategy/jwt.strategy.ts
  src/modules/users/guards/strategy/strategy.token.ts
  src/modules/users/response/createUser.response.ts
  src/modules/users/response/index.ts
  src/modules/users/users.controller.spec.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.module.ts
  src/modules/users/users.service.spec.ts
  src/modules/users/users.service.ts
Labels: document, feature

#16 fix: schema error type
  src/schema/folder.schema.ts
  src/schema/post.schema.ts
Labels: fix, document

#17 Chore/infrastructure directory setting
  src/app.module.ts
  src/infrastructure/database/database.module.ts
  src/infrastructure/database/index.ts
  src/infrastructure/database/schema/folder.schema.ts
  src/infrastructure/database/schema/index.ts
  src/infrastructure/database/schema/keyword.schema.ts
  src/infrastructure/database/schema/post.schema.ts
  src/infrastructure/database/schema/postAIClassification.schema.ts
  src/infrastructure/database/schema/postKeyword.schema.ts
  src/infrastructure/database/schema/user.schema.ts
  src/infrastructure/database/types/folder-type.enum.ts
  src/infrastructure/index.ts
  src/modules/users/guards/jwt.guard.ts
  src/modules/users/guards/strategy/jwt.strategy.ts
  src/modules/users/users.module.ts
  src/modules/users/users.service.ts
  src/schema/index.ts
Labels: etc, document

#18 GetUser데코레이터에서 디폴트로 id필드 반환하도록 수정
  src/common/decorators/getUser.decorator.ts
Labels: fix, document

#19 feat: 링크 저장 URL 추가
  src/app.module.ts
  src/common/types/type.d.ts
  src/infrastructure/database/schema/post.schema.ts
  src/modules/posts/docs/createPost.docs.ts
  src/modules/posts/dto/create-post.dto.ts
  src/modules/posts/posts.controller.ts
  src/modules/posts/posts.module.ts
  src/modules/posts/posts.repository.ts
  src/modules/posts/posts.service.ts
  src/modules/users/guards/strategy/jwt.strategy.ts
Labels: document, feature

#22 feat: 폴더 관련 API 인터페이스 작업 및 생성 api
  src/app.module.ts
  src/infrastructure/database/schema/base.schema.ts
  src/infrastructure/database/schema/folder.schema.ts
  src/modules/folders/docs/controller.docs.ts
  src/modules/folders/docs/folder-api.docs.ts
  src/modules/folders/docs/index.ts
  src/modules/folders/dto/index.ts
  src/modules/folders/dto/mutate-folder.dto.ts
  src/modules/folders/folders.controller.spec.ts
  src/modules/folders/folders.controller.ts
  src/modules/folders/folders.module.ts
  src/modules/folders/folders.service.spec.ts
  src/modules/folders/folders.service.ts
  src/modules/folders/responses/folder-list.response.ts
  src/modules/folders/responses/folder-summary.response.ts
  src/modules/folders/responses/folder.response.ts
  src/modules/folders/responses/index.ts
  src/modules/folders/responses/post-list-in-folder.response.ts
  src/modules/folders/responses/post.response.ts
  src/modules/links/docs/controller.docs.ts
  src/modules/links/docs/index.ts
  src/modules/links/docs/validate-link.docs.ts
  src/modules/links/links.controller.spec.ts
  src/modules/links/links.controller.ts
  src/modules/links/links.module.ts
  src/modules/links/links.service.spec.ts
  src/modules/links/links.service.ts
  src/modules/links/responses/index.ts
  src/modules/links/responses/validate-link.response.ts
  src/modules/users/docs/createUser.docs.ts
Labels: document, feature

#20 Feat: AI Domain 추가
  .env
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/common/index.ts
  src/common/utils/index.ts
  src/common/utils/parser.util.ts
  src/infrastructure/ai/ai.constant.ts
  src/infrastructure/ai/ai.module.ts
  src/infrastructure/ai/ai.service.ts
  src/infrastructure/ai/dto/index.ts
  src/infrastructure/ai/dto/summarizeURL.response.ts
  src/infrastructure/ai/functions/index.ts
  src/infrastructure/ai/index.ts
  src/infrastructure/ai/types/types.d.ts
Labels: feature

#21 Refactor: User모듈 레포지토리 레이어 분리
  src/app.module.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.ts
  src/modules/users/users.module.ts
  src/modules/users/users.repository.ts
  src/modules/users/users.service.ts
Labels: refactor

#29 Chore: GH Action pnpm 옵션 수정
  .github/workflows/build.yml
Labels: etc, actions

#27 Feat: PaginationQuery, PaginationMetadata dto 추가
  src/common/dto/index.ts
  src/common/dto/pagination.dto.ts
  src/common/index.ts
Labels: etc, document
