Repository LinkIt-Company/Linkit-Backend, pull requests merged in 2024-07, with the labels that each got.

#26 Feat : AI 분류 폴더 이름 리스트get api, AI 분류 링크 리스트 get api
  pnpm-lock.yaml
  src/app.module.ts
  src/common/decorators/getUser.decorator.ts
  src/infrastructure/database/schema/AIClassification.schema.ts
  src/infrastructure/database/schema/base.schema.ts
  src/infrastructure/database/schema/index.ts
  src/infrastructure/database/schema/post.schema.ts
  src/modules/classification/classification.controller.ts
  src/modules/classification/classification.module.ts
  src/modules/classification/classification.service.spec.ts
  src/modules/classification/classification.service.ts
  src/modules/classification/docs/controller.docs.ts
  src/modules/classification/docs/getAIFolderNameList.docs.ts
  src/modules/classification/docs/getAIPostList.docs.ts
  src/modules/classification/docs/index.ts
  src/modules/classification/dto/getAIFolderNameLIst.dto.ts
  src/modules/classification/dto/getAIPostList.dto.ts
  src/modules/classification/response/ai-folder-list.dto.ts
  src/modules/classification/response/ai-post-list.dto.ts
  src/modules/folders/responses/folder-summary.response.ts
Labels: document, feature

#34 Feature/list posts
  src/common/dto/pagination.dto.ts
  src/modules/posts/docs/listPost.docs.ts
  src/modules/posts/dto/index.ts
  src/modules/posts/dto/list-post.dto.ts
  src/modules/posts/posts.controller.ts
  src/modules/posts/posts.repository.ts
  src/modules/posts/posts.service.ts
  src/modules/posts/response/index.ts
  src/modules/posts/response/listPost.response.ts
Labels: document, feature

#38 Update Post API 생성, 기존 Update Post API Update Post Folder로 명명 변경
  src/modules/posts/dto/index.ts
  src/modules/posts/dto/updatePost.dto.ts
  src/modules/posts/dto/updatePostFolder.dto.ts
  src/modules/posts/posts.controller.ts
  src/modules/posts/posts.repository.ts
  src/modules/posts/posts.service.ts
  src/modules/posts/type/type.d.ts
Labels: document, feature

#30 Feat: 폴더 관련 API
  pnpm-lock.yaml
  src/infrastructure/database/schema/index.ts
  src/infrastructure/database/schema/post.schema.ts
  src/modules/folders/docs/folder-api.docs.ts
  src/modules/folders/dto/folder-with-count.dto.ts
  src/modules/folders/dto/mutate-folder.dto.ts
  src/modules/folders/folders.controller.ts
  src/modules/folders/folders.module.ts
  src/modules/folders/folders.repository.ts
  src/modules/folders/folders.service.ts
  src/modules/folders/responses/folder-list.response.ts
  src/modules/folders/responses/folder.response.ts
  src/modules/folders/responses/post-list-in-folder.response.ts
  src/modules/folders/responses/post.response.ts
  src/modules/posts/dto/find-in-folder.dto.ts
  src/modules/posts/posts.module.ts
  src/modules/posts/posts.repository.ts
  src/modules/posts/posts.service.ts
Labels: document, feature

#41 Dev API Hotfix: folder create 오류 수정
  src/modules/folders/folders.service.ts
Labels: fix, document

#33 feat: 내 피드 전체조회 / 즐겨찾기 피드 조회 API 추가
  src/infrastructure/database/schema/post.schema.ts
  src/modules/posts/docs/getPost.docs.ts
  src/modules/posts/dto/getPostDto.ts
  src/modules/posts/posts.controller.ts
  src/modules/posts/posts.repository.ts
  src/modules/posts/posts.service.ts
  src/modules/posts/response/post-list.response.ts
Labels: document, feature

#45 MongoDB -> PostgreSQL 마이그레이션 + OR(D)M 변경
  .env
  README.md
  docker-compose.yaml
  package.json
  pnpm-lock.yaml
  prisma/migrations/20240710165935_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/app.module.ts
  src/modules/prisma/prisma.module.ts
  src/modules/prisma/prisma.service.ts
  src/modules/users/users.module.ts
  src/modules/users/users.pg.repository.ts
Labels: document, refactor

#49 hotfix: reatAt default value to null
  src/infrastructure/database/schema/post.schema.ts
Labels: fix, document

#51 dev-deploy <- feature/ai-lambda
  src/ai_handler.ts
  src/infrastructure/aws-lambda/aws-lambda.service.ts
  src/modules/posts/posts.repository.ts
  src/modules/posts/posts.service.ts
Labels: document, feature

#32 Public 데코레이터 추가 및 GetUser데코레이터 Failover처리 수정
  src/common/decorators/getUser.decorator.ts
  src/common/decorators/index.ts
  src/common/decorators/public.decorator.ts
  src/modules/users/guards/jwt.guard.ts
Labels: fix, document, feature

#65 refactor/post: 피드 생성 시 URL open-graph 이미지 url, 요약 상태 필드추가, 전체 피드 조회 시에도 해당 응답 키 값추가
  src/ai_handler.ts
  src/infrastructure/database/schema/post.schema.ts
  src/modules/posts/posts.constant.ts
  src/modules/posts/posts.repository.ts
  src/modules/posts/posts.service.ts
  src/modules/posts/response/listPost.response.ts
Labels: document, refactor

#67 Fix: Fix post findPostOrThrow parameter error
  src/modules/posts/posts.service.ts
Labels: fix, document

#69 fix: 피드 전체 조회시 썸네일 이미지 URL 카멜케이스로 변경
  src/modules/posts/response/listPost.response.ts
Labels: document, refactor

#70 Feature: Folder, Post 생성
  src/modules/folders/docs/folder-api.docs.ts
  src/modules/folders/folders.controller.ts
  src/modules/folders/folders.repository.ts
  src/modules/folders/folders.service.ts
  src/modules/folders/responses/folder-list.response.ts
  src/modules/folders/responses/post.response.ts
  src/modules/posts/posts.controller.ts
  src/modules/posts/posts.repository.ts
  src/modules/posts/posts.service.ts
Labels: document, feature

#71 refactor: classification 조회 시 isRead에서 readAt으로 응답값 변경
  src/modules/classification/dto/classification.dto.ts
  src/modules/posts/posts.repository.ts
Labels: document, refactor

#72 hotfix : 읽음여부 필터 적용
  src/modules/folders/responses/post.response.ts
  src/modules/posts/dto/find-in-folder.dto.ts
  src/modules/posts/dto/list-post.dto.ts
  src/modules/posts/posts.repository.ts
  src/modules/posts/posts.service.ts
Labels: etc, document

#73 Fix/check folder duplication
  src/modules/folders/docs/folder-api.docs.ts
  src/modules/folders/error/index.ts
  src/modules/folders/folders.controller.ts
  src/modules/folders/folders.repository.ts
  src/modules/folders/folders.service.ts
  src/modules/folders/responses/post-list-in-folder.response.ts
Labels: fix, document

#75 피드 조회 시 누락된 스키마 추가 및 swagger 데코레이터 추가
  src/modules/classification/dto/classification.dto.ts
  src/modules/classification/response/ai-post-list.dto.ts
  src/modules/folders/responses/folder-post.response.ts
  src/modules/folders/responses/index.ts
  src/modules/folders/responses/post.response.ts
  src/modules/posts/posts.repository.ts
  src/modules/posts/posts.service.ts
  src/modules/posts/response/listPost.response.ts
Labels: document, refactor

#76 Feat: Add classification count API
  src/app.module.ts
  src/modules/classification/classification.controller.ts
  src/modules/classification/classification.module.ts
  src/modules/classification/classification.repository.ts
  src/modules/classification/classification.service.ts
  src/modules/classification/docs/countClassification.docs.ts
  src/modules/folders/folders.module.ts
Labels: document, feature

#78 오류코드 명시 유실된 부분 추가 및 create post에 validation 추가
  src/modules/folders/docs/folder-api.docs.ts
  src/modules/posts/docs/createPost.docs.ts
  src/modules/posts/posts.service.ts
Labels: document

#60 AI 분류 시 PostKeyword 데이터도 같이 생성 및 적용
  .vscode/settings.json
  src/ai_handler.ts
  src/app.config.ts
  src/app.module.ts
  src/common/constant/index.ts
  src/common/filter/base.filter.ts
  src/domains/folder.ts
  src/infrastructure/ai/ai.module.ts
  src/infrastructure/ai/ai.service.ts
  src/infrastructure/ai/functions/index.ts
  src/infrastructure/aws-lambda/aws-lambda.service.ts
  src/infrastructure/aws-lambda/type.ts
  src/infrastructure/discord/discord-ai-webhook.provider.ts
  src/infrastructure/discord/discord-error-webhook.provider.ts
  src/infrastructure/discord/discord-webhook.provider.ts
  src/infrastructure/discord/discord.module.ts
  src/modules/ai-classification/ai-classification.module.ts
  src/modules/ai-classification/ai-classification.service.ts
  src/modules/classification/classification.module.ts
  src/modules/classification/classification.repository.ts
  src/modules/classification/classification.service.ts
  src/modules/folders/dto/delete-custom-folder.dto.ts
  src/modules/folders/dto/folder-list-service.dto.ts
  src/modules/folders/dto/folder-with-count.dto.ts
  src/modules/folders/dto/index.ts
  src/modules/folders/folders.controller.ts
  src/modules/folders/folders.module.ts
  src/modules/folders/folders.repository.ts
  src/modules/folders/folders.service.ts
  src/modules/folders/responses/folder-list.response.ts
  src/modules/folders/responses/folder-summary.response.ts
  src/modules/folders/responses/post.response.ts
  src/modules/keywords/keyword.repository.ts
  src/modules/posts/postKeywords.repository.ts
  src/modules/posts/posts.controller.ts
  src/modules/posts/posts.module.ts
  src/modules/posts/posts.repository.ts
  src/modules/posts/posts.service.ts
  src/modules/posts/response/keyword-list.response.ts
  src/modules/posts/response/listPost.response.ts
Labels: document, feature

#82 fix: post 리스트 응답 누락 스키마 추가, swagger 타입 오류 수정
  src/modules/folders/responses/post.response.ts
Labels: fix, document

#83 chore: 람다 타임아웃 고정
  serverless.yml
Labels: etc, document

#80 chore: 로깅 추가
  src/app.module.ts
  src/common/middlewares/index.ts
  src/common/middlewares/logging.interceptor.ts
  src/modules/folders/folders.service.ts
Labels: etc, document

#84 chore: url 후처리 로직 추가
  src/common/utils/parser.util.ts
Labels: etc, document

#85 PG Migraiton
  .env
  README.md
  docker-compose.yaml
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  src/app.module.ts
  src/modules/prisma/prisma.module.ts
  src/modules/prisma/prisma.service.ts
  src/modules/users/users.pg.repository.ts
Labels: document, feature

#87 chore: pg folder repo 작업
  .env
  .gitignore
  pnpm-lock.yaml
  src/app.module.ts
  src/modules/classification/classification.module.ts
  src/modules/folders/folders.module.ts
  src/modules/folders/folders.pg.repository.ts
Labels: etc, document

#88 Fix: Fix duplicated folder creation
  .github/workflows/build.yml
  src/modules/folders/folders.pg.repository.ts
  src/modules/prisma/prisma.module.ts
  src/modules/prisma/prisma.service.ts
  src/modules/users/users.pg.repository.ts
  src/modules/users/users.repository.ts
  src/modules/users/users.service.ts
Labels: fix, document

#89 Fix: 폴더 이름 변경 및 Web Parsing Header 추가
  src/app.swagger.ts
  src/common/utils/parser.util.ts
  src/modules/folders/folders.service.ts
Labels: fix, document

#91 chore : 나중에 읽을 폴더로 추천된 경우는 제외
  src/modules/classification/classification.repository.ts
Labels: fix, document
