Repository LinkIt-Company/Linkit-Backend, pull requests merged in 2024-08, with the labels that each got.

#92 Fix: Fix ai classification logic
  src/modules/ai-classification/ai-classification.service.ts
  src/modules/folders/folders.repository.ts
Labels: fix, document

#96 URL 정보에서 euc-kr 케이스에 대한 대응 추가
  package.json
  pnpm-lock.yaml
  src/common/utils/parser.util.ts
  src/modules/classification/docs/index.ts
Labels: document, refactor

#93 gpt 모델 4o mini로 변경
  src/infrastructure/ai/ai.constant.ts
Labels: etc, document

#97 Fix: Fix redirect as manual
  pnpm-lock.yaml
  src/common/utils/parser.util.ts
Labels: fix, document

#98 fix: URL fetch 요청 시 redircect 및 method 옵션 제거
  src/common/utils/parser.util.ts
Labels: fix, document

#102 Fix: Fix content parser
  src/common/utils/parser.util.ts
Labels: fix, document
