Repository LinkIt-Company/Linkit-Backend, pull requests merged in 2025-02, with the labels that each got.

#108 Welcome Seokjoo
  .github/CODEOWNERS
Labels: actions

#107 typeorm & postgresql 세팅
  package.json
  pnpm-lock.yaml
  src/infrastructure/database/database.module.ts
  src/infrastructure/database/entities/ai-classification.entity.ts
  src/infrastructure/database/entities/base.entity.ts
  src/infrastructure/database/entities/folder.entity.ts
  src/infrastructure/database/entities/keyword.entity.ts
  src/infrastructure/database/entities/metrics.entity.ts
  src/infrastructure/database/entities/post-keyword.entity.ts
  src/infrastructure/database/entities/post.entity.ts
  src/infrastructure/database/entities/user.entity.ts
  src/modules/classification/classification.pg.repository.ts
  src/modules/folders/folders.module.ts
  src/modules/folders/folders.pg.repository.ts
  src/modules/folders/folders.v2.controller.ts
  src/modules/folders/folders.v2.service.ts
  src/modules/keywords/keyword.pg.repository.ts
  src/modules/metrics/metrics.pg.repository.ts
  src/modules/posts/postKeywords.pg.repository.ts
  src/modules/posts/posts.pg.repository.ts
  src/modules/users/users.pg.repository.ts
Labels: document

#109 feature: db에 리스트 저장하게끔 수정
  src/infrastructure/database/database.module.ts
  src/infrastructure/database/entities/onboard-category.entity.ts
  src/modules/onboard/dto/onboard.query.ts
  src/modules/onboard/http/request.http
  src/modules/onboard/onboard.module.ts
  src/modules/onboard/onboard.pg.repository.ts
  src/modules/onboard/onboard.service.ts
Labels: document, feature

#110 feature: typeorm cli 추가
  package.json
  pnpm-lock.yaml
  src/infrastructure/database/data-source.ts
  src/infrastructure/database/database.module.ts
Labels: document, feature, need help
